.grid {
  padding: 4rem 1rem 0.8rem 5.3rem;
}

.sliderWrap {
  padding: 0 0.5em;
  width: 50%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.slider {
  flex-grow: 1;
}

.filter {
  font-weight: 800;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 960px) {
  .content {
    flex-direction: column;
    margin-top: 3em;
  }
  .grid {
    padding: 1.5em;
  }
  .sliderWrap {
    padding: 0 2em;
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .grid {
    padding: 0.8rem 0rem;
  }
}
