.grid {
  padding: 3rem 1rem 0.8rem 5.3rem;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .content {
    flex-direction: column;
    margin-top: 3em;
  }
  .grid {
    padding: 1.5em;
  }
}

@media screen and (max-width: 680px) {
  .grid {
    padding: 0.8rem 0rem;
  }
}
